.rowContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 4%;
    top: 570px;
    background-color: black;
}
.popular-row, .trending-row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.rowContainer p {
    font-size: 2rem;
}
.mini-poster {
    width: 18vw;
    border-radius: 7px;
    cursor: pointer;
}
.mini-poster+.mini-poster {
    margin-left: 10px;
}
.mini-poster:hover {
    transition: transform .15s linear;
    transform: scale(1.15);
    box-shadow: 0 0 8px 3px rgba(255, 246, 246, 0.865);
}
.footer {
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 25px 0;
}
.footer p {
    margin: 0;
    font-size: 1.2rem;
    color: grey;
}